.badge {
  font-size: .75rem;
  background-color: #999;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
}

.badge--warning {
  background-color: #FF8F00;
}

.badge--success {
  background-color: #4CAF50;
}