//
// Google Maps
// --------------------------------------------------

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;

  iframe {
    display: none;
  }
}

.is-hidden {
  display: none;
}