//
// Restaurant Details
// --------------------------------------------------

.inside {
  padding-top: 115px;
}

.container--flexbox {
  padding: 0;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #maincontent {
  display: flex;
  flex-flow: column wrap;
}

.inside #map-container {
  /*background: blue none repeat scroll 0 0;*/
  height: 400px;
  /*position: fixed;
  right: 0;*/
  /*top: 90px;*/
  width: 100%;
  flex-shrink: 0;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: $restaurant-name-color;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 30px;
  margin: 0;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container {
  padding: 0 15px;
}

.inside hr {
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #fff;
  height: 1px;
  width: 100%;
  margin: 50px 0;
}

@media (min-width: 760px) {
  .container--flexbox {
    padding: 0 15px;
    width: 720px;
    margin: 0 auto;
    display: flex;
  }

  .inside #map-container {
    width: 50%;
    height: inherit;
    padding-left: 15px;
  }

  .inside #restaurant-container {
    order: -1;
    padding-left: 0;
  }
}

@media (min-width: 980px) {
  .container--flexbox {
    width: 940px;
  }
}