//
// Restaurant Details
// --------------------------------------------------

.inside {
  padding-top: 115px;
}

.container--flexbox {
  padding: 0;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #maincontent {
  display: flex;
  flex-flow: column wrap;
}

.inside #map-container {
  height: 400px;
  width: 100%;
  margin: 0 auto;
}

.inside #map {
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: $restaurant-name-color;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 30px;
  margin: 0;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#reviews-container {
  margin-top: 2rem;
}

/*.inside hr {
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #fff;
  height: 1px;
  width: 100%;
  margin: 50px 0;
}*/

@media (min-width: 760px) {
  .container--flexbox {
    padding: 0 15px;
    width: 720px;
    margin: 0 auto;
    display: flex;
  }

  .inside #map-container {
    width: 100%;
  }

  #restaurant-cuisine {
    margin-bottom: 0;
  }
}

@media (min-width: 980px) {
  .container--flexbox {
    width: 940px;
  }

  .inside #map-container {
    width: 940px;
    padding: 0 15px;
  }
}

.restaurant-favorite {
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 760px) {
  .restaurant-details {
    display: flex;
  }

  .restaurant-details__cover {
    margin-right: 15px;
    width: 50%;
  }

  .restaurant-details__hours {
    margin-left: 15px;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}

.restaurant-location {
  margin-top: 2rem;
}

.restaurant-location__title {
  border-bottom: 1px solid #e0e0e0;
  color: $restaurant-name-color;
  font-weight: 100;
  font-size: 1.25rem;
  padding: 0 0 .5rem;
  margin-bottom: 1rem;
}