$body-background: #f5f5f5;

$navbar-background: #252831;
$filter-background: #3397db;

$breadcrumb-link-color: #0069CC;

$restaurant-name-color: #ff6215;
$restaurant-details-button-background: #ff6215;
$restaurant-review-title-color: #ff6215;
$restaurant-review-rating-background: #ff6215;